<div class="container-fluid home-bg">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <button class="btn btn-primary general-buttons margin-right-10" ng-click="setTab(homeTabs.SuggestedInterests)">Suggested Interests</button>
            <button class="btn btn-primary general-buttons" ng-click="setTab(homeTabs.RandomInterests)">Random Interests</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1"></div>
        <div ng-show="selectedTab === homeTabs.SuggestedInterests" class="col-md-10" cg-busy="getSuggestedInterestsPromise">
            <div class="row home-section home-section-header">
                <h4> Suggested interests </h4>
            </div>
            <interests-slider ng-if="suggestedInterestsLoaded" interests="suggestedInterests" />
        </div>
        <div ng-show="selectedTab === homeTabs.RandomInterests" class="col-md-10" cg-busy="getRandomInterestsPromise">
            <div class="row home-section home-section-header">
                <h4> Interests you may like </h4>
            </div>
            <interests-slider ng-if="randomInterestsLoaded" interests="randomInterests" />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>