:root {
    --main-bg-color: #fcf3e7;
    --main-bg-color-hover: #e1d3c1;
}

html {
    height: 100%;
    background-color: var(--main-bg-color);
}

body {
    font-family: 'Lato', sans-serif;
}

/*NAVBAR START*/

nav.navbar-findcond {
    background-color: var(--main-bg-color);
    border-color: #ccc;
    box-shadow: 0 0 2px 0 #ccc;
}

    nav.navbar-findcond a {
        color: black;
    }

    nav.navbar-findcond ul.navbar-nav a {
        color: black;
        border-style: solid;
        border-width: 0 0 2px 0;
        border-color: #fff;
        border-radius: 5px 5px 0px 0px !important;
    }

        nav.navbar-findcond ul.navbar-nav a:hover,
        nav.navbar-findcond ul.navbar-nav a:visited,
        nav.navbar-findcond ul.navbar-nav a:focus,
        nav.navbar-findcond ul.navbar-nav a:active {
            background: var(--main-bg-color-hover);
            border-radius: 5px !important;
        }

        nav.navbar-findcond ul.navbar-nav a:hover {
            border-color: black;
        }

    nav.navbar-findcond li.divider {
        background: #ccc;
    }

    nav.navbar-findcond button.navbar-toggle {
        background-color: black;
        border-radius: 2px;
    }

        nav.navbar-findcond button.navbar-toggle:hover {
            background: #999;
        }

        nav.navbar-findcond button.navbar-toggle > span.icon-bar {
            background: #fff;
        }

    nav.navbar-findcond ul.dropdown-menu {
        border: 0;
        background: #fff;
        border-radius: 4px;
        margin: 4px 0;
        box-shadow: 0 0 4px 0 #ccc;
    }

        nav.navbar-findcond ul.dropdown-menu > li > a {
            color: #444;
        }

            nav.navbar-findcond ul.dropdown-menu > li > a:hover {
                background-color: black;
                color: #fff;
            }

    nav.navbar-findcond span.badge {
        background-color: black;
        font-weight: normal;
        font-size: 11px;
        margin: 0 4px;
    }

        nav.navbar-findcond span.badge.new {
            background: rgba(255, 0, 0, 0.8);
            color: #fff;
        }

/*NAVBAR END*/

/*FOOTER START*/

footer {
    bottom: 0;
    width: 100%;
}
/*
    footer .icon {
        font-size: 60px;
        color: black;
    }

    footer .red {
        color: red;
    }

    footer .blue {
        color: #008CBA;
    }

    footer .ltBlue {
        color: #9BEBE9;
    }

    footer .dkBlue {
        color: #0A057B
    }

    footer h4 {
        font-family: 'Lobster', cursive;
        font-weight: 400;
    }

    footer p {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
    */
/*FOOTER END*/

.bg-color {
    background-color: var(--main-bg-color);
}

/*MAIN CONTENT VIEW START*/

/*.mainContentView {
    height: -webkit-fill-available;
}*/
/*MAIN CONTENT VIEW END*/
.border-top {
    border-top: 1px ridge gray;
}

.margin-top-0 {
    margin-top: 0px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-right-10 {
    margin-right: 10px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top--25percent {
    padding-top: -25%;
}

.image-sidebar-1 {
    background-image: url(https://www.libertytravel.com/sites/default/files/styles/full_size/public/family-a.jpg?itok=903cfdUn);
    background-size: cover;
    background-position: center;
    height: -webkit-fill-available;
}

.image-sidebar-2 {
    background-image: url(https://i.pinimg.com/originals/1e/0b/24/1e0b243bd3b36c89c0ba9cffccf286fb.jpg);
    background-size: cover;
    background-position: center;
    height: -webkit-fill-available;
}

.home-section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgba(192,192,192,0.5);
    border: 1px solid rgba(192,192,192,1);
    border-radius: 5px;
}

.home-section-header {
    background: rgba(255,255,255,1);
    text-align: center;
}

.home-section-first-column {
    border-right: 1px solid rgba(192,192,192,0.6);
}

.home-bg {
    background-image: url(../../Images/Common/home-main-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    max-height: 100%;
}

.trip-create-bg {
    background-image: url(../../Images/Common/trip-create-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    max-height: 100%;
    font-family: Lato;
    font-size: 16px;
    color: black;
    padding-top: 15%;
    padding-bottom: 25%;
}

    .trip-create-bg h2 {
        font-weight: 500;
        font-size: 3em;
    }

/* SELECT 2 START */
/*-----------------------------SELECT 2----------------------------------------*/
.select2-container {
    cursor: pointer;
}

    .select2-container > .select2-choice {
        height: 27px !important;
        line-height: 24px !important;
        min-height: 27px !important;
        max-height: 27px !important;
        border: 1px solid #ABABAB;
        border-radius: 2px !important;
    }

    .select2-container .select2-choice {
        background-color: #F7F7F7 !important;
        background-image: none !important;
    }

    .select2-container .select2-drop {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

        .select2-container .select2-drop .select2-input {
            background-color: #fff;
        }

    .select2-container .select2-choice .select2-arrow {
        border-left: 1px solid #ABABAB !important;
        border-radius: 0 !important;
        background-color: #F7F7F7 !important;
        width: 27px !important;
    }

        .select2-container .select2-choice .select2-arrow b {
            background-position: 5px 0 !important;
        }

    .select2-container.select2-allowclear .select2-choice .select2-chosen {
        margin-right: 51px !important;
    }

    .select2-container.select2-allowclear .select2-choice abbr {
        top: 6px !important;
        right: 33px;
    }

    .select2-container .select2-drop {
        background: #F7F7F7 !important;
        border-radius: 0 0 2px 2px;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.15);
        box-shadow: 0 2px 3px rgba(0,0,0,.15);
    }

    .select2-container .select2-drop-active {
        border: 1px solid #aaa;
        border-top: none;
    }

    .select2-container .select2-results .ui-select-choices-row.select2-highlighted {
        background: #DEDEDE;
        color: #000;
    }

    .select2-container .select2-results .ui-select-choices-row:hover {
        background: #2E7BBA;
        color: #fff;
    }

    .select2-container .select2-drop.select2-drop-above {
        border-radius: 2px 2px 0 0;
        -webkit-box-shadow: 0 -2px 3px rgba(0,0,0,.15);
        box-shadow: 0 -2px 3px rgba(0,0,0,.15);
    }

    .select2-container.select2.direction-up .select2-choice {
        border-radius: 0 0 2px 2px !important;
    }

    .select2-container.select2.direction-up .select2-drop {
        border-radius: 2px 2px 0 0 !important;
        box-shadow: 0 -4px 8px rgba(0,0,0,.25);
    }

    .select2-container.select2-container-disabled .select2-choice {
        border: 1px solid #ABABAB;
        background-color: #F5F1D8 !important;
    }

        .select2-container.select2-container-disabled .select2-choice .select2-chosen {
            color: #999999 !important;
        }

        .select2-container.select2-container-disabled .select2-choice .select2-arrow {
            background-color: #F5F1D8 !important;
        }

            .select2-container.select2-container-disabled .select2-choice .select2-arrow b {
                background: url("../../Images/Select/select2-disabled.png") 7px 3px no-repeat !important;
            }

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #aaa;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container-multi .select2-choices {
    line-height: 13px;
    background-image: -webkit-gradient(#fff,#fff);
    background-image: -webkit-linear-gradient(#fff,#fff);
    background-image: -moz-linear-gradient(#fff,#fff);
    background-image: linear-gradient(#fff,#fff);
}

    .select2-container-multi .select2-choices .select2-search-choice {
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #F7F7F7;
        filter: none;
        background-image: none;
        background-image: -webkit-gradient(#F7F7F7,#F7F7F7);
        background-image: -webkit-linear-gradient(#F7F7F7,#F7F7F7);
        background-image: -moz-linear-gradient(#F7F7F7,#F7F7F7);
        background-image: linear-gradient(#F7F7F7,#F7F7F7);
    }

    .select2-container-multi .select2-choices .select2-search-field {
        line-height: 14px;
    }

.select2-container-multi .select2-search-choice-close {
    top: 3px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover,
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close,
.select2-container .select2-choice abbr:hover {
    background-position: right top;
}

.ng-dirty.ng-invalid.select2-container .select2-choices,
.has-error .select2-container .select2-choices,
.has-error .select2-container .select2-choice {
    border-color: #a94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.ng-dirty.ng-invalid.select2.direction-up .ui-select-dropdown,
.has-error .select2-container.select2.direction-up .ui-select-dropdown {
    border-color: #a94442 !important;
}

.ng-dirty.ng-invalid.select2-container .select2-drop-active,
.has-error .select2-container .select2-drop-active {
    border-color: #a94442 !important;
}

.select2-container .search-container.ui-select-search-hidden {
    display: none;
}

.select2-container.select2-dropdown-open .select2-choice {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.modal-input {
    margin: 5px 0px;
}
/* SELECT 2 END */

.cursor-hand {
    cursor: pointer;
}

.home-second-section-border {
    border-left: 1px solid black;
}

.slide.ng-leave {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block !important;
}

    .slide.ng-enter,
    .slide.ng-leave.ng-leave-active {
        opacity: 0;
    }

        .slide.ng-leave,
        .slide.ng-enter.ng-enter-active {
            opacity: 1;
        }

.slide.ng-hide-add,
.slide.ng-hide-remove {
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block !important;
}

    .slide.ng-hide-add.ng-hide-add-active,
    .slide.ng-hide-remove {
        opacity: 0;
    }

        .slide.ng-hide-add,
        .slide.ng-hide-remove.ng-hide-remove-active {
            opacity: 1;
        }

.slider {
    position: relative;
    cursor: pointer;
}

.slide {
    position: absolute;
}

.arrows {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .arrows img {
        height: 20px;
    }