/*NAVBAR START*/
.navbar-brand {
    padding: 0px;
}

    .navbar-brand > img {
        height: 100%;
        padding: 15px;
        width: auto;
    }

.customNavbar .navbar-brand {
    height: 80px;
}

.customNavbar .nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.customNavbar .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}

.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0,-50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav > li > .dropdown-menu {
    z-index: 9999;
}
/*NAVBAR END*/

.border-top{
    border-top: 1px ridge gray;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}