html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

/*NAVBAR START*/

.navbar-inverse {
    background: #055b5b;
    border-color: #023a3a;
}

    .navbar-inverse .navbar-nav > li > a,
    .navbar-inverse .navbar-brand {
        color: #fff;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

    .navbar-inverse .navbar-nav > .active > a {
        background-color: rgba(0, 0, 0, 0.3);
    }

        .navbar-inverse .navbar-nav > .active > a:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

main {
    height: 100vh;
    padding-top: 30vh;
    background: #999;
    background-image: url("https://source.unsplash.com/FHl79chXS6s");
    background-size: cover;
    color: #fff;
    text-align: center;
}

h1, p {
    text-shadow: 1px 1px 2px #555;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 2em;
}
/*NAVBAR END*/

.border-top {
    border-top: 1px ridge gray;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}