<div class="container-fluid trip-create-bg" cg-busy="createTripPromise">
    <div id="content" ng-show="selectedTab === tripMainPageTabsEnum.MainTab">
        <h2>Start planning by selecting if you go alone or with a group</h2>
        <div class="col-md-4"></div>
        <div class="row col-md-4">
            <label>Trip Name</label>
            <input type="text" class="col-md-4 btn btn-sm" placeholder="Type in the trip name!" ng-model="tripName" />
        </div>
        <div class="col-md-4"></div>
        <div class="row col-md-12">
            <br />
            <button class="btn btn-primary btn-lg" ng-click="createTrip(tripTypeEnum.SingleTrip)">Single Trip</button>
            <button class="btn btn-danger btn-lg" ng-click="changeTab(tripMainPageTabsEnum.GroupTrip)">Group Trip</button>
        </div>
    </div>
    <div ng-show="selectedTab == tripMainPageTabsEnum.GroupTrip">
        <div class="container">
            <div class="planning-history row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-group">
                    <label>Trip Name</label><br />
                    <input type="text" class="search" placeholder="Type in the trip name!" ng-model="tripName" />
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="planning-history row">
                <div class="col-md-3"></div>
                <div class="col-md-6 form-group">
                    <label class="control-label">Email of the person to invite</label><br />
                    <input type="email" class="search form-control" placeholder="Type in the person's email!" ng-model="invitedPersonEmail" />
                    <input ng-disabled="invitedPersonEmail.length < 1" class="btn btn-success" type="button" value="Add" ng-click="addInvitedPerson()" />
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="planning-history row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form class="form-horizontal" method="get" action="#">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-fw fa-list" aria-hidden="true"></i> Invited people
                            </div>
                            <div class="panel-body">
                                <ul ng-class="{'panel-body-overflow': trips.length > 10}" class="list-group">
                                    <li class="list-group-item" ng-repeat="person in invitedPeople track by $index">
                                        <div class="checkbox">
                                            <label ng-bind="person">
                                            </label>
                                        </div>
                                        <div class="pull-right action-buttons">
                                            <a href="#" ng-click="removeInvitedPerson(person)" class="trash"><i class="fa fa-fw fa-trash" aria-hidden="true"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <h6 class="pull-right">
                                            Total Count <span class="label label-info">{{invitedPeople.length}}</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="createTrip(tripTypeEnum.Group)">Create Group</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info btn-lg btn-block login-button" ng-click="goBackToMainTab()">Cancel</button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>