.panel-trip-planner {
    height: 850px;
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color-hover);
}

    .panel-trip-planner .panel-trip-planner-header {
    }

    .panel-trip-planner .panel-trip-planner-body {
        height: 100%;
        width: 100%;
    }

    .panel-trip-planner .panel-trip-planner-height-auto {
        height: auto;
    }

.panel-trip-extended {
    height: 870px;
}

.panel-trip-extended-single{
    height: 1000px;
}

.panel-trip-load-more {
    height: auto;
}

.box-trip-planner {
    width: 40% !important;
}

.panel-trip-margin-left-15 {
    margin-left: 15px;
}

.panel-trip-chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .panel-trip-chat li {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

        .panel-trip-chat li.left .chat-body {
            margin-left: 60px;
        }

        .panel-trip-chat li.right .chat-body {
            margin-right: 60px;
        }

        .panel-trip-chat li .chat-body p {
            margin: 0;
            color: white;
        }

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.body-panel {
    overflow-y: scroll;
    height: 600px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

    .custab thead tr th {
        color: black;
    }

    .custab tbody tr td input[type='checkbox'] {
        appearance: auto !important;
        -moz-appearance: auto !important;
        -webkit-appearance: auto !important;
        opacity: 1;
        margin-right: 0px;
        margin-left: 20px;
        width: 20px;
        height: 25px;
        margin-top: -2px;
    }

    .custab:hover {
        box-shadow: 3px 3px 0px transparent;
        transition: 0.5s;
    }

.load-more {
    width: 100%;
}

.load-more-message {
    width: 100%;
    font-size: 20px;
}