#banner {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    padding: 8em 4em 6em 4em;
    min-height: 70vh;
    background-image: url('../../Images/Account/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
}

    #banner .inner {
        text-align: center;
        position: relative;
        z-index: 2;
    }

    #banner h1 {
        color: #fff;
        font-size: 5em;
        font-weight: 400;
        font-family: 'Passion One', cursive;
        margin: 0;
    }

@media screen and (max-width: 980px) {

    #banner h1 {
        font-size: 5em;
    }
}

@media screen and (max-width: 736px) {

    #banner h1 {
        font-size: 3em;
    }
}

#banner p {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.5em;
    font-weight: 300;
}

@media screen and (max-width: 980px) {

    #banner p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 480px) {

    #banner p {
        font-size: 1.25em;
    }
}

#banner a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    border-bottom: 1px dotted;
}

    #banner a:hover {
        color: #FFF;
        border: none;
    }

#banner .more {
    background-image: url('../../Images/Account/arrow.svg');
    background-position: center 1.35em;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid #fff;
    border-radius: 100%;
    color: rgba(255, 255, 255, 0.75);
    display: block;
    height: 4em;
    text-indent: 4em;
    overflow: hidden;
    white-space: nowrap;
    width: 4em;
    z-index: 2;
    margin: 0 auto 2em auto;
}

    #banner .more:hover {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid #fff;
        color: #FFF;
    }

#banner video {
    -moz-transform: translateX(50%) translateY(50%);
    -webkit-transform: translateX(50%) translateY(50%);
    -ms-transform: translateX(50%) translateY(50%);
    transform: translateX(50%) translateY(50%);
    position: absolute;
    bottom: 50%;
    right: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

#banner:before {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
    content: '';
    background-color: #42424f;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 1280px) {

    #banner video {
        display: none;
    }
}

@media screen and (max-width: 980px) {

    #banner br {
        display: none;
    }
}

@media screen and (max-width: 736px) {

    #banner {
        min-height: 0;
        padding: 6em 2em 4em 2em;
    }

        #banner br {
            display: none;
        }
}

body.is-loading #banner:before {
    opacity: 1;
}

.serviceBox {
    text-align: center;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    margin-bottom: 21px;
}

    .serviceBox .service-icon {
        width: 78px;
        height: 78px;
        border-radius: 3px;
        background: #fff;
        margin: 0 auto;
        position: absolute;
        top: -34px;
        left: 0;
        right: 0;
        z-index: 1;
        transition: all 0.3s ease-out 0s;
    }

    .serviceBox:hover .service-icon {
        transform: rotate(45deg);
    }

    .serviceBox .service-icon span {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 3px;
        background: #727cb6;
        font-size: 30px;
        color: #fff;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all 0.3s ease-out 0s;
    }

        .serviceBox .service-icon span i {
            transition: all 0.3s ease-out 0s;
        }

    .serviceBox:hover .service-icon span i {
        transform: rotate(-45deg);
    }

    .serviceBox .service-content {
        background: #fff;
        border: 1px solid #e7e7e7;
        border-radius: 3px;
        padding: 55px 15px;
        position: relative;
    }

        .serviceBox .service-content:before {
            content: "";
            display: block;
            width: 80px;
            height: 80px;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            margin: 0 auto;
            position: absolute;
            top: -37px;
            left: 0;
            right: 0;
            z-index: -1;
            transition: all 0.3s ease-out 0s;
        }

    .serviceBox:hover .service-content:before {
        transform: rotate(45deg);
    }

    .serviceBox .title {
        font-size: 17px;
        font-weight: 500;
        color: #324545;
        text-transform: uppercase;
        margin: 0 0 25px 0;
        position: relative;
        transition: all 0.3s ease-out 0s;
    }

    .serviceBox:hover .title {
        color: #727cb6;
    }

    .serviceBox .description {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 0;
    }

    .serviceBox .read-more {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 38px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #e7e7e7;
        font-size: 14px;
        color: #c4c2c2;
        margin: 0 auto;
        position: absolute;
        bottom: -17px;
        left: 0;
        right: 0;
        transition: all 0.3s ease-out 0s;
    }

        .serviceBox .read-more:hover {
            border: 1px solid #727cb6;
            color: #727cb6;
            text-decoration: none;
        }

    .serviceBox.green .service-icon span {
        background: #008b8b;
    }

    .serviceBox.blue .service-icon span {
        background: #3498db;
    }

    .serviceBox.orange .service-icon span {
        background: #e67e22;
    }

    .serviceBox.green:hover .title {
        color: #008b8b;
    }

    .serviceBox.blue:hover .title {
        color: #3498db;
    }

    .serviceBox.orange:hover .title {
        color: #e67e22;
    }

    .serviceBox:hover .read-more {
        border: 1px solid #727cb6;
        color: #727cb6;
    }

    .serviceBox.green:hover .read-more {
        border: 1px solid #008b8b;
        color: #008b8b;
    }

    .serviceBox.blue:hover .read-more {
        border: 1px solid #3498db;
        color: #3498db;
    }

    .serviceBox.orange:hover .read-more {
        border: 1px solid #e67e22;
        color: #e67e22;
    }