<footer class="border-top">
    <div class="col-md-1"></div>
    <div class="col-md-5 pull-right">
        <a href="#"><i class="fi-social-tumblr icon red"></i></a>
        <a href="#"><i class="fi-social-facebook icon dkBlue"></i></a>
        <a href="#"><i class="fi-social-youtube icon"></i></a>
        <a href="#"><i class="fi-social-twitter icon ltBlue"></i></a>
        <a href="#"><i class="fi-social-pinterest icon red"></i></a>
        <a href="#"><i class="fi-social-linkedin icon blue"></i></a><br>
        <p><a href="#" class="button round alert"><wbr>Sign Up</a><strong> For Our Newsletter<strong><wbr></p>
    </div>
    <div class="text-center pull-left col-md-5">
        <h4>
            Your Company Name<h4>
                <p>
                    Your Street, City, State, Zip<br>
                    Phone: 123-456-7890 <br>
                    email@youremail.com<br>
                    yoursite@yoursite.com
                </p>
    </div>
    <div class="col-md-1"></div>
</footer>