<header ng-controller="HeaderController" ng-init="init()">
    <nav class="navbar navbar-findcond navbar-static-top margin-bottom-0">
        <div class="container" ng-show="isLogged == true">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Views/Home/Index.cshtml">TripPlanner</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Parties <span class="badge">0</span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="fa fa-fw fa-users"></i> <span class="badge">3</span> Ceva</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Music</span> sayfasında iletiniz beğenildi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Video</span> sayfasında iletiniz beğenildi</a></li>
                            <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="../trip/createTrip">Create your Trip <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-user-circle"></i> Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="../account/interests"><i class="fas fa-map-marked-alt"></i> Interests</a></li>
                            <li><a href="#"><i class="fas fa-user-friends"></i> Friends</a></li>
                            <li><a href="../account/planningHistory"><i class="fas fa-history"></i> Planning History</a></li>
                            <li class="divider"></li>
                            <li><a href="../account/editAccount"><i class="fas fa-user-edit"></i> Edit Account</a></li>
                            <li><a href="#" ng-click="logout()"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right search-form" role="search">
                    <input type="text" class="form-control" placeholder="Search" />
                </form>
            </div>
        </div>
        <div class="container" ng-show="isLogged == false">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Findcond</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" ng-click="login()"> <i class="fa fa-user"></i> Log In <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>