<div class="container-fluid planning-history-bg">
    <div class="container">
        <div class="planning-history row">
            <div class="col-md-12">
                <h2>Your list of friends</h2>
            </div>
        </div>
        <div class="planning-history row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input ng-model="searchText" class="search planning-history form-control" placeholder="Search" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="planning-history row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-fw fa-list" aria-hidden="true"></i> Friends list
                        <button class="btn addFriendButton pull-right" uib-tooltip="Add a friend" ng-click="addFriend()"><i class="fa fa-fw fa-plus" aria-hidden="true"></i></button>
                    </div>
                    <div class="panel-body">
                        <ul ng-class="{'panel-body-overflow': friends.length > 10}" class="list-group" cg-busy="getFriendsPromise">
                            <li ng-if="containsSearchText(friend)" class="list-group-item" ng-repeat="friend in friends track by $index">
                                <div class="checkbox">
                                    <span ng-bind="friend.friendAccount.email"></span>
                                </div>
                                <div class="pull-right action-buttons">
                                    <a href="" ng-click="removeFriend(friend.id)" class="trash"><i class="fa fa-fw fa-trash" aria-hidden="true"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h6 class="pull-right">
                                    Total Count <span class="label label-info">{{friends.length}}</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>