<div class="row center-block" ng-init="initWeather()">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal" method="put" action="#">
                    <div class="form-group">
                        <span class="col-md-6">
                            <label for="availableWeather" class="col-md-6 pull-left">Available Weather</label>
                            <span class="col-md-10">
                                <ui-select name="availableWeather"
                                           ng-model="weatherList.selected"
                                           cg-busy="{promise:getAvailableWeatherPromise}"
                                           search-enabled="true"
                                           on-select=""
                                           reset-search-input="true">
                                    <ui-select-match placeholder="Type in the weather name!">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="option as option in weatherList"
                                                       refresh=""
                                                       refresh-delay="0">
                                        <div ng-bind-html="option | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </span>
                            <span class="col-md-1">
                                <input ng-disabled="weatherList.length < 1" class="btn btn-success" type="button" value="Add" ng-click="addWeather()" />
                            </span>
                        </span>
                        <span class="col-md-6">
                            <label for="availableUserWeather" class="col-md-6 pull-left">Desired Weather</label>
                            <span class="col-md-10">
                                <ui-select name="availableUserWeather"
                                           ng-model="userWeather.selected"
                                           search-enabled="true"
                                           on-select=""
                                           reset-search-input="true">
                                    <ui-select-match placeholder="Type in the weather name!">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="weather as weather in userWeather"
                                                       refresh=""
                                                       refresh-delay="0">
                                        <div ng-bind-html="weather | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </span>
                            <span class="col-md-1">
                                <input ng-disabled="userWeather.length < 1" class="btn btn-danger" type="button" value="Remove" ng-click="removeWeather()" />
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="submitWeather()">Submit changes</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <button type="button" class="padding-right-5 close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>