<div class="container-fluid planning-history-bg">
    <div class="container">

        <div class="planning-history row">
            <div class="col-md-12">
                <h2>Your history of created trips </h2>
            </div>
        </div>
        <div class="planning-history row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input ng-model="searchText" class="search planning-history form-control" placeholder="Search" />
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="planning-history row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-fw fa-list" aria-hidden="true"></i> Trips list
                    </div>
                    <div class="panel-body">
                        <ul ng-class="{'panel-body-overflow': trips.length > 10}" class="list-group" cg-busy="getUserTripsPromise">
                            <li ng-if="containsSearchText(trip)" class="list-group-item" ng-repeat="trip in trips track by $index">
                                <div class="checkbox">
                                    <span ng-click="redirectToTrip(trip)" class="tripLabel" ng-bind="trip.name" ng-show="trip.editMode === false || trip.editMode === undefined">
                                    </span>
                                    <input type="text" ng-show="trip.editMode" ng-model="trip.name" />
                                </div>
                                <div class="pull-right action-buttons">
                                    <a href="#" ng-if="!trip.isDeleted" ng-click="enableEdit(trip)"><i class="fa fa-fw " ng-class="trip.editMode ? 'fa-check' : 'fa-edit'" aria-hidden="true"></i></a>
                                    <a href="" ng-if="!trip.isDeleted" ng-click="leaveTrip(trip.id)" class="trash"><i class="fa fa-fw fa-trash" aria-hidden="true"></i></a>
                                    <label ng-if="trip.isDeleted" class="trash">Deleted</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h6 class="pull-right">
                                    Total Count <span class="label label-info">{{trips.length}}</span>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>